* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    font-size: 2em;
    background-image: url('https://raw.githubusercontent.com/MralonYT/seda-s-Website/refs/heads/main/Images/CuteCat.jpg');
    background-size: cover;  
}
#SedaModel {
    padding: 0;
    position: relative;
    width: 200px;
    max-width: 25%;
    max-height: 80%;
    margin-right: 0%;
}

#Arrow {
    width: 100px;
    height: 100px;
    margin-left: 50%;
    margin-top: 10%;
}

#mySubmit {
    margin: 0 auto;
    display: block;
    margin-left: 50%;
    margin-top: 30%;
    scale: 1.5;
}

.BannerTop {
    background-color: rgba(255, 255, 255, 0.1);
}

.BannerContent {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.BannerText {
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
}

.BannerClose {
    background: none;
    border: none;
    cursor: pointer;
}

.BannerClose:hover {
    color: #f00;
}

#myText {
    display: flex;
    margin-left: 40%;
    margin-top: 5%;
    scale: 1.5;
}
#mySubmit {
    display: flex;
    margin-left: 45%;
    margin-top: 2%;
    scale: 1.5;
    border-radius: 5px;
    padding: 3px;
}

h1 {
    text-align: center;
    display: flex;
    width: 50%;
    margin-left: 25%;
}