* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('https://raw.githubusercontent.com/MralonYT/seda-s-Website/refs/heads/main/Images/CuteCat.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

body{
    font-family: Verdana;
    font-size: 2em; 
}
#SedaModel {
    position: relative;
    width: 400px;
    max-width: 20%;
    max-height: fit-content;
    margin-right: 0%;
}

#Arrow {
    width: 220px;
    height: 220px;
    rotate: -40deg;
}

#mySubmit {
    margin: 0 auto;
    display: block;
    margin-left: 50%;
    margin-top: 30%;
    scale: 1.5;
}

.BannerTop {
    background-color: rgba(255, 255, 255, 0.1);
}

.BannerContent {
    padding: 16px;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.BannerText {
    flex-grow: 1;
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
}

.BannerClose {
    background: none;
    border: none;
    cursor: pointer;
}

.BannerClose:hover {
    color: #f00;
}

#myText {
    align-items: center;
    margin-left: 45%;
    width: 10%;
    min-width: 100px;
    margin-top: 5%;
    scale: 1.5;
}
#mySubmit {
    margin-left: 47.5%;
    margin-top: 3%;
    scale: 1.5;
    border-radius: 5px;
    padding: 3px;
    width: 5%;
    min-width: 50px;
}

h1 {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.Container {
    position: relative;
    text-align: center;
}